@tailwind base;
@tailwind components;
@tailwind utilities;

table th {
  background-color: rgb(197, 194, 194);
}

table {
  border-spacing: 0;
}

table tbody tr:nth-child(even) {
  background-color: rgb(223, 221, 221);
}

table thead tr {
  background-color: rgb(199, 198, 198);
}